Enter a number
<form action="/process_roll">
<label for = "square"></label>
<input id="square" type = "text" name="dice" placeholder="What number do you want to?">

<button> Calculate square </button>

</form>
